$white: #F0F0F2;
$accent: #FD9374;
$background: #1D2731;
$grey: #81878C; 

.container {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-bottom: 10%;
    transition: 0.5s;

    p {
        color: $accent;
    }

    h3 {
        color: $white;
        font-weight: normal;
        text-decoration: none;
    }

    h6 {
        color: $grey;
    }
}

.container:hover {
    transform: translate(5px, 3px);   
}