@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

$white: #F0F0F2;
$accent: #FD9374;
$background: #1D2731;

html {
    background-color: $background;
}

p {
    font-size: 12pt;
}

h1 {
    font-size: 55pt;
}

h2 {
    font-size: 45pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 15pt;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: $white;
    font-family: 'Exo', sans-serif;
}

