.container {
    display: flex;
    background-color: white;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.5s;

    .logo {
        display: flex;
        height: 30px;
        margin-top: 50%;
        margin-left: 50%;
        margin-right: 50%;
    }
}

.container:hover {
    transform: translate(5px, 3px);   
}