$break-small: 480px;
$break-large: 1200px;

.profile img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

    @media screen and (max-width: $break-small) {
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        margin-left: 20%;
    }
}

