$white: #F0F0F2;
$accent: #FD9374;
$background: #1D2731;

.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.0875rem 1.45rem;
    background-color: $background;
    height: 100vh;
    min-height: 100%;

    .content {
        // flex: 1;
        // position: relative;
        // background-color: blue;
        
        flex-direction: column;
        padding: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}